.DS_Store
packages
.project
.settings
.idea
.settings
*.iml
.packages
.dart_tool/

#Not checked in because this project is a library (https://stackoverflow.com/a/16136740).
pubspec.lock
example/ogurets_run.dart
